<div class="row">
  <div class="col-md-8">
    <p>Welcome to <span class="vast">My Movie Database</span> created and maintained by <span class="vast">Melissa Hanson</span>. As a work-in-progress, I am continually updating to incorporate features that I would like.</p>
    <a href="https://github.com/dialmformelissa/MMDb" target="blank">github</a>
    
  </div>
  <div class="col-md-3">
  <p>Future features include:</p>
    <ul>
      <li>Sort/filter by column</li>
      <li>Streaming player column</li>
      <li>Ability to add movie via API</li>
      <li>Search dropdown menu</li>
    </ul>
  </div> 
</div>