<div class="row">
  <div class="col-md-11">
    <%= link_to "Back to all the movies", movies_path %>
    <br>
    <h2>Edit <%= @movie.title %></h2>

    <%= render 'form' %>
    <br>
    <p>
      <%= link_to 'DELETE', movie_path(@movie), method: :delete, data:{confirm: 'Are you really, really sure?'} %>
    </p>
  </div>
</div>