<div class="row">
  <div class="col-md-11">

    <h1><%= @format.name %></h1>

    <p>
      <%= link_to 'edit', edit_format_path(@format) %>
    </p>

    <p>
      <%= link_to "Back to all the formats", formats_path %>
    </p>
  </div>
</div>