@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Raleway', sans-serif;
  width: 100%
}

h2 {
  font-family: 'Vast Shadow', cursive;
  display: inline;
}

ul {
  display: inline;
}

.col-md-3, .col-md-11 {
  float: none;
  margin: 0 auto;
}

.table {
  width: 90%;
  float: none;
  margin: 0 auto;
}